h1{
   text-align: center;
   font-family: monospace;
   font-size: 40px;
   border: 20px solid black;
   font-weight: bold;
   font-style: oblique;
   background-color: gray;
   color: white;
}
table{
   border: 5px solid black;
}
tr{
   background-color: black;
   color: wheat;
}
th{
   background-color: red;
   color: black;
}
td{
   background-color: aqua;
   color:black;
}